body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ddd;
}
span{
    color: red;
    font-weight: 900;
}
.heading {
    text-align: center;
    margin: 20px 0;
    background-color: gray;
    height: 80px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 10px;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 300px; /* Three cards per row */
    max-width: 300px;
    text-align: center;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card_img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-info {
    padding: 15px;
}

.card_category {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
}

.card__title {
    font-size: 18px;
    margin: 10px 0;
}

.card a {
    text-decoration: none;
    color: inherit;
}

.card button {
    padding: 10px 20px;
    background-color: #f50057;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.card button:hover {
    background-color: #c51162;
}

/* Responsive Design */
@media (max-width: 768px) {
    .card {
        width: calc(50% - 20px); /* Two cards per row on medium screens */
    }
}

@media (max-width: 480px) {
    .card {
        width: 100%; /* One card per row on small screens */
    }
}
